@media screen and (min-width: 974px) {
  @media screen and (min-height: 486px) {
    #community, #wiki {
      width: 116.6vh;
      height: 33.6vh;
      background-color:yellow;
    }

    #community {
      position: absolute;
      margin: 104vh 0 0 81.3vh;
    }

    #wiki {
      position: absolute;
      margin: 139.6vh 0 0 81.3vh !important;
    }

    p {
      font-size: 2vh;
    }

    .navbar-left {
      position: absolute;
      margin-top: -8vh;
      background-color:blue;
    }

    .containers {
      background-color:black;
      height: 200vh;
    }

    .containers > .row {
      width:198vh;
    }

    .col-12 {
      background-color:red;
      margin:2vh 2vh 2vh 3.6vh;
      height: 173.2vh;
    }

    .containers > .row > .col-12 > .row > .ht-79 {
      position: absolute;
      margin: 94.2vh 0 0 22.5vh;
      background-color:green;
    }
    .containers > .row > .col-12 > .row > .ht-30 {
      margin-left: 2vh;
    }

    .containers > .row > .col-12 > .row > .ht-20 {
      margin-left: 2vh;
    }

    .containers > .row > .col-12 > .row > .ht-15 {
      margin-left: 2vh;
    }

    .cols {
      width:56.8vh !important;
    }

    .ht-15 {
      height: 30vh;
    }

    .ht-20 {
      height: 40vh;
    }

    .ht-25 {
      height: 50vh;
    }

    .ht-30 {
      height:60vh;
    }

    .ht-79 {
      height: 79vh;
    }
  }
}
